.checkout-title {
  text-align: center;
  color: #000;
  text-align: center;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%;
  /* 18px */
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 15px;

  @media(max-width: 600px) {
    font-size: 20px;
    margin-bottom: 5px;
    margin-bottom: 5px;
  }
}

.checkout-subtitle {
  color: #000;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  margin-bottom: 20px;

  @media(max-width: 600px) {
    font-size: 12px;
  }
}

.ckeckout-attention {
  color: #000;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  margin-bottom: 20px;

  @media(max-width: 600px) {
    font-size: 12px;

  }
}

.checkout-head__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  & .checkout-head__title {
    color: #000;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%;
    /* 18px */
    text-transform: uppercase;

    @media(max-width: 600px) {
      font-size: 20px;

    }
  }

  & .checkout-head__name {
    color: #FF5596;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%;
    /* 18px */
    text-transform: uppercase;

    @media(max-width: 600px) {
      font-size: 20px;

    }
  }
}

.checkout-product__items {
  display: flex;
  flex-direction: column;
  gap: 16px;

  & .checkout-product__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 16px;

    & .checkout-product__item-left {
      display: flex;
      align-items: center;
      gap: 12px;

      & .checkout-product__item-image {
        width: 175px;
        height: 175px;
        padding: 13px;
        border-radius: 5px;
        border: 1px solid #FF5596;
        background-color: #FFF;

        @media(max-width: 600px) {
          width: 71px;
          height: 71px;
        }

        & img {
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }

      & .checkout-product__item-info {
        & .checkout-product__item-name {
          color: #000;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 90%;
          text-transform: uppercase;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -moz-box;
          -moz-box-orient: vertical;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          line-clamp: 3;
          box-orient: vertical;
          margin-bottom: 10px;
          max-width: 300px;

          @media(max-width: 600px) {
            font-size: 14px;
            max-width: 108px;

          }
        }

        & .checkout-product__item-description {
          color: #000;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 90%;
          text-transform: uppercase;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -moz-box;
          -moz-box-orient: vertical;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          line-clamp: 3;
          box-orient: vertical;
          max-width: 300px;

          @media(max-width: 600px) {
            font-size: 14px;
            max-width: 108px;

          }
        }
      }
    }

    & .checkout-product__item-right {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap:10px;

      & .checkout-product__item-price {
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 90%;
        /* 12.6px */
        margin-bottom: 5px;
        text-align: right;

        @media(max-width: 600px) {
          font-size: 14px;
        }
      }


      & .checkout-item__char {
        border: 1px solid #000;
        padding: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
        margin-top: 25px;
        max-width: fit-content;
        align-self: flex-end;

        & .checkout-item__char-name {
          color: #000;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 90%;
          /* 9px */

          @media(max-width: 600px) {
            font-size: 10px;
          }
        }
      }

      & .checkout-product__item-remove {
        color: #000;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 90%;
        text-align: right;
        width: 100%;

        /* 10.8px */
        @media(max-width: 600px) {
          font-size: 12px;
        }
      }
    }
  }
}

.counter {
  display: flex;
  align-items: center;
  gap: 2px;
}

.counter button {
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%;

  @media(max-width: 600px) {
    font-size: 14px;
  }

  /* 12.6px */
}

.counter button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.counter input {
  width: 50px;
  text-align: center;
  font-size: 18px;
  border: none;
  padding-left: 10px;
}


.switch {
  position: relative;
  width: 50px;
  height: 26px;
  background: #ccc;
  border-radius: 50px;
  cursor: pointer;
  transition: background 0.3s;
}

.switch::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  background: #000;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: transform 0.3s;
}

.switch.active {
  background: #FF5596;
}

.switch.active::before {
  transform: translateX(24px);
}

.checkout-body__attention {
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%;
  border-radius: 1.747px;
  background: #FF1418;
  padding: 2px;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;

  @media(max-width: 600px) {
    font-size: 10px;
  }

  /* 9px */
}

& .checkout-form {
  margin-top: 20px;
}

form.checkout-form {
  & .switcher-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .input-wrap {

    margin-bottom: 10px;

    /* @media(max-width: 600px) {
      height: 16px;
    } */

    label {
      color: #000;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: 90%;

      @media(max-width: 600px) {
        font-size: 11px;
      }

      /* 7.2px */
    }

    & input {
      margin-top: 5px;
      padding-left: 10px;
      display: block;
      width: 100%;
      height: 100%;
      color: #000;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 90%;
      border-radius: 2.462px;
      border: 0.224px solid #FF5596;

      width: 100%;
      height: 32px;

      /* @media(max-width: 600px) {
        font-size: 8px;
      } */

      &::placeholder {
        color: #A9A9A9;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 90%;

        /* @media(max-width: 600px) {
          font-size: 8px;
        } */
      }
    }

    & select {
      display: block;
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
    }

    & textarea {
      display: block;
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      padding-left: 5px;
      padding-top: 5px;
    }


  }

  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;


  }

  [type="radio"]:checked+label,
  [type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #000;
    font-size: 16px;

    @media(max-width:600px) {
      font-size: 11px;
    }
  }

  [type="radio"]:checked+label:before,
  [type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #000;
    border-radius: 100%;
    background: #fff;
  }

  [type="radio"]:checked+label:after,
  [type="radio"]:not(:checked)+label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #FF5596;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  [type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  [type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  .switcher-title {
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
    margin-bottom: 6px;

    @media(max-width: 600px) {
      font-size: 12px;
    }

    /* 10.8px */
  }

  & .submit {
    padding: 7px 103px;
    border-radius: 1px;
    border: 1px solid #FF5596;
    background: #FF5596;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%;
    cursor: pointer;
    /* 12.6px */
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;

    @media(max-width: 600px) {
      font-size: 14px;
    }
  }

  & .form-policy {
    color: #000;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;

    & a {
      color: #FF5596;
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 90%;

      @media(max-width:600px) {
        font-size: 8px;
      }
    }

    @media(max-width:600px) {
      font-size: 8px;
    }

    /* 7.2px */
  }

  .variables-delivery__container {
    margin-top: 20px;

    & .export-point__title {
      color: #000;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 90%;
      /* 12.6px */
      text-transform: uppercase;
      margin-bottom: 18px;

      @media(max-width:600px) {
        font-size: 14px;
      }
    }

    & .export-point__text {
      color: #000;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 90%;
      @media(max-width:600px) {
        font-size: 14px;
      }
      /* 12.6px */
    }
  }
}

.total-checkout {
  margin-top: 16px;
  margin-bottom: 26px;

  & .total-checkout__head {
    display: flex;
    justify-content: space-between;

    & .total-checkout__title {
      color: #000;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 90%;
      /* 12.6px */
      text-transform: uppercase;

      @media(max-width: 600px) {
        font-size: 14px;
      }
    }

    & .total-checkout__price {
      color: #000;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 90%;

      /* 12.6px */
      @media(max-width: 600px) {
        font-size: 14px;
      }
    }
  }

  & .total-checkout__points {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;

    @media(max-width: 600px) {
      font-size: 12px;
    }

    /* 10.8px */
  }


}

.checkout-form__title {
  color: #000;
  font-family: "Bebas Neue Pro";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%;
  margin-bottom: 20px;
  /* 18px */
  text-transform: uppercase;

  @media(max-width: 600px) {
    font-size: 20px;
  }

}

.form-disclaimer {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  /* 12.6px */
  margin-top: 21px;
  margin-bottom: 30px;

  @media(max-width: 600px) {
    font-size: 14px;
  }
}

.total-chekout__bottom {
  margin-top: 30px;

  & .total-chekout__bottom-title {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%;
    /* 12.6px */
    text-transform: uppercase;
    margin-bottom: 15px;

    @media(max-width: 600px) {
      font-size: 14px;
    }
  }

  & .total-chekout__bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    & .total-chekout__bottom-name {
      color: #000;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 90%;

      @media(max-width: 600px) {
        font-size: 14px;
      }

      /* 12.6px */
    }

    & .total-chekout__bottom-price {
      color: #000;
      text-align: right;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 90%;

      @media(max-width: 600px) {
        font-size: 14px;
      }

      /* 12.6px */
    }
  }

  & .total-chekout__bottom-sum {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 25px;

    & .total-chekout__bottom-sum__title {
      color: #000;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 90%;
      /* 12.6px */
      text-transform: uppercase;
      margin-bottom: 10px;

      @media(max-width: 600px) {
        font-size: 14px;
      }
    }

    & .total-chekout__bottom-sum__price {
      color: #FF5596;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: 90%;

      @media(max-width: 600px) {
        font-size: 20px;
      }

      /* 18px */
    }
  }
}