* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: "Bebas Neue Pro", sans-serif;
  font-weight: 400;
  font-style: normal;

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body.lock {
  overflow: hidden;
}

button,
input,
textarea {
  background-color: transparent;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

.section {
  margin-top: 80px;

  @media(max-width:600px) {
    margin-top: 30px;
  }
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;

  @media(max-width: 1300px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.header-top__banner {
  background-color: #FF5596;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  position: relative;
  z-index: 10;
}

nav {
  background-color: #000;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}

.nav-inner {
  display: flex;

  justify-content: space-between;
  align-items: center;

  & .navigation {
    position: absolute;
    top: 0;
    left: -100%;
    padding: 17px;
    background-color: #fff;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    transition: all .3s;
    z-index: 10;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;

    & .nav-menu {
      display: flex;
      flex-direction: column;
      gap: 6px;
      padding-left: 17px;
      padding-right: 17px;

      & li {
        & a {
          color: #000;
          font-size: 26px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;

          @media(max-width: 768px) {
            font-size: 16px;
          }
        }

        & a.submenu__btn {
          & span {
            color: #000;
            font-size: 26px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;

            @media(max-width: 768px) {
              font-size: 16px;
            }
          }
        }
      }
    }

    & .submenu {
      overflow: hidden;
      max-height: 0;
      transition: all .5s;
      padding-left: 24px;
      display: flex;
      flex-direction: column;
      gap: 6px;

      & li {
        & a {
          color: #000;
          font-size: 26px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-transform: uppercase;

          @media(max-width: 768px) {
            font-size: 16px;
          }
        }
      }
    }



    & .submenu__btn.active+.submenu {
      max-height: 1500px;
      transition: all .5s;
      overflow: visible;

    }



    & .service-menu {
      padding-top: 5px;
      padding-bottom: 5px;
      background-color: #FF5596;
      color: #FFF;
      font-size: 26px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      padding-left: 17px;

      @media(max-width: 768px) {
        font-size: 16px;
      }
    }

    & .personal-area__link {
      display: flex;
      align-items: center;
      gap: 4px;
      padding-left: 17px;

      & span {
        color: #000;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;

        @media(max-width: 768px) {
          font-size: 16px;
        }

      }
    }

    @media(max-width: 992px) {
      width: 50%;
    }
  }

  & .navigation.active {
    left: 0;
    transition: all .3s;
  }

  .menu-search {
    position: relative;
    border-radius: 2px;
    border: 1px solid #989898;
    padding: 3px;
    max-width: 170px;
    width: 100%;
    height: 30px;
    margin-left: 17px;

    @media(max-width:768px) {
      max-width: 105px;
      width: 100%;
      height: 19px;
    }

    & input {
      color: #000;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: 90%;
      /* 10.8px */
      text-transform: uppercase;
      display: block;
      width: 100%;
      height: 100%;
      padding-left: 14px;

      @media(max-width:768px) {
        font-size: 12px;
      }

      &::placeholder {
        color: #989898;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 90%;
        /* 10.8px */
        text-transform: uppercase;

        @media(max-width:768px) {
          font-size: 12px;
        }
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 3px;
      width: 12px;
      height: 12px;
      background-image: url('../img/s-ico.svg');
    }
  }

  .close-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 17px;
  }


  & .nav-right {
    display: flex;
    align-items: center;
    gap: 7px;

    & .notify {
      position: relative;

      & .notify-count {
        position: absolute;
        bottom: -50%;
        right: -50%;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #FF5596;
        color: #FFF;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* 7.56px */
        text-transform: uppercase;

        @media(max-width: 600px) {
          font-size: 8.4px;
          width: 12px;
          height: 12px;
          bottom: -30%;
          right: -20%;
        }
      }
    }
  }

  & .logo {
    width: 80px;
    display: flex;
    align-items: center;

    & img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
}

.brands-btn {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  text-transform: uppercase;
  margin-left: 8px;

  @media(max-width: 600px) {
    font-size: 18px;
  }
}

.brands-menu {
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;

  z-index: 10;
  padding: 17px;
  padding-bottom: 30px;
  transition: all .3s;

  & .brands-menu-title {
    color: #FF5596;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%;
    /* 28.8px */
    text-transform: uppercase;
    margin-bottom: 20px;

    @media(max-width: 600px) {
      font-size: 32px;
    }
  }

  & .brands-menu__items {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & li {
      display: flex;
      flex-direction: column;
      gap: 5px;

      & .point-order {
        color: #FF5596;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 90%;
        /* 14.4px */
        text-transform: uppercase;
        margin-bottom: 6px;

        @media(max-width: 600px) {
          font-size: 16px;
        }
      }

      & span {
        color: #000;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 90%;
        /* 14.4px */
        text-transform: uppercase;

        @media(max-width: 600px) {
          font-size: 16px;
        }
      }
    }
  }

  .close-brands {
    position: absolute;
    right: 20px;
    top: 40px;
    cursor: pointer;
  }
}

.brands-menu.active {
  left: 0;
  transition: all .3s;
}

.overlay {
  background: rgba(0, 0, 0, 0.70);
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9;
  left: 0;
  top: 0;
}

.overlay.active {
  display: block;
}

.h2 {
  color: #FF5596;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%;
  /* 28.8px */
  text-transform: uppercase;

  @media(max-width: 600px) {
    font-size: 32px;
  }
}

.view-all {
  color: #000;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  text-decoration: underline;

  @media(max-width: 600px) {
    font-size: 14px;
  }
}

.product-card__items {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 23px;
  justify-content: space-between;

  @media(max-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media(max-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  & .product-card__item {
    cursor: pointer;

    & .product-card__item-image {
      padding: 20px;
      width: 100%;
      border-radius: 5px;
      border: 1px solid #FF5596;
      height: 262px;
      position: relative;

      & .product-card__item-cats {
        position: absolute;
        left: 8px;
        top: 8px;
        display: flex;
        flex-direction: column;
        gap: 2px;

        & .product-card__item-cat {
          padding: 2px;
          color: #FFF;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 90%;
          text-transform: uppercase;
          border-radius: 2.12px;
          background: #FF5596;
          max-width: fit-content;


          @media(max-width:600px) {
            font-size: 8.481px;
          }
        }
      }

      & .product-card__item-trand {
        position: absolute;
        right: 6px;
        top: 5px;

        & .product-card__item-trand__inner {
          width: 55px;
          height: 55px;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;

          & img {
            position: relative;
          }

          & span {
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
            color: #FFF;
            text-align: center;
            font-size: 15px;
            font-style: normal;
            font-weight: 700;
            line-height: 90%;
            text-transform: uppercase;
            max-width: 45px;

            @media(max-width: 600px) {
              font-size: 8px;
            }
          }
        }
      }

      @media(max-width: 600px) {
        height: 138px;
      }


      & img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }

    & .product-card__item-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 250px;

      @media(max-width: 600px) {
        min-height: 200px;
      }
    }

    & .product-card__item-body {
      margin-top: 10px;
      height: 230px;

      @media(max-width: 920px) {
        height: 150px;
      }

      & .product-card__item-body__head {
        display: flex;
        justify-content: space-between;
        gap: 16px;
        margin-bottom: 6px;

        & .product-card__item-name {
          color: #000;
          font-size: 25px;
          font-style: normal;
          font-weight: 700;
          line-height: 90%;
          text-transform: uppercase;
          max-width: 192px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -moz-box;
          -moz-box-orient: vertical;
          display: -webkit-box;
          -webkit-line-clamp: 8;
          -webkit-box-orient: vertical;
          line-clamp: 8;
          box-orient: vertical;


          & .product-card__item-name__brand {
            font-weight: 700;
          }

          & strong {
            font-weight: 700;
          }

          @media(max-width:600px) {
            font-size: 14px;
            max-width: 100px;
          }
        }

        & .product-card__item-price {
          color: #000;
          font-size: 25px;
          font-style: normal;
          font-weight: 700;
          line-height: 90%;

          @media(max-width:600px) {
            font-size: 14px;
          }
        }
      }

      & .product-card__item-description {
        color: #000;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 90%;
        margin-bottom: 5px;
        max-width: 180px;
        /* 12.6px */
        margin-top: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -moz-box;
        -moz-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-clamp: 3;
        box-orient: vertical;

        @media(max-width:600px) {
          font-size: 14px;
          max-width: 103px
        }
      }

      & .product-card__item-colors {
        display: flex;
        align-items: center;
        gap: 2px;

        & .product-card__item-colors__items {
          display: flex;
          gap: 3px;
          align-items: center;

          & .product-card__item-color__item {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;

            & img {
              object-fit: cover;
              width: 100%;
              height: 100%;
              border: 1px solid transparent;
              border-radius: 50%;
              transition: all .3s;
            }

            @media(max-width:600px) {
              width: 9px;
              height: 9px;
            }
          }

          & .product-card__item-color__item.active {

            & img {
              border: 1px solid #FF5596;
              transition: all .3s;
            }

          }
        }

        & .product-card__item-colors__count {
          color: #000;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 90%;

          @media(max-width:600px) {
            font-size: 8px;
          }
        }
      }

      & .product-card__item-volumes {

        & .product-card__item-volumes__items {
          display: flex;
          align-items: center;
          gap: 2px;
          flex-wrap: wrap;

          & .product-card__item-volume__item {
            border: 1px solid #000;
            padding: 4px;
            transition: all .3s;

            & span {
              color: #000;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 90%;
              transition: all .3s;

              @media(max-width:600px) {
                font-size: 8px;
              }

              /* 7.2px */
            }
          }

          & .product-card__item-volume__item.active {
            background-color: #000;
            transition: all .3s;

            & span {
              color: #fff;
              transition: all .3s;

            }
          }
        }
      }
    }

    .product-card__item-footer {
      & .product-card__item-cat {
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 90%;
        margin-bottom: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -moz-box;
        -moz-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        line-clamp: 1;
        box-orient: vertical;
        margin-top: 6px;

        @media(max-width:600px) {
          font-size: 12px;
        }
      }

      & .product-item__addCart {
        color: #FFF;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 90%;
        margin-bottom: 10px;
        text-transform: uppercase;
        background-color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 7px;
        padding-bottom: 7px;
        border: 1px solid #000;

        @media(max-width:600px) {
          font-size: 14px;
        }
      }

      .pink-mode__btn {
        border-radius: 1px;
        border: 1px solid #FF5596;
        background-color: #FF5596;
      }
      

      & .product-item__detail {
        color: #000;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 90%;
        margin-bottom: 10px;
        text-transform: uppercase;
        border: 1px solid #000;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 7px;
        padding-bottom: 7px;
        margin-top: 5px;

        @media(max-width:600px) {
          font-size: 14px;
        }
      }

      & .product-item__availibility {
        color: #FF5596;
        font-size: 23px;
        font-style: normal;
        font-weight: 400;
        line-height: 90%;

        @media(max-width:600px) {
          font-size: 12px;
        }

        & span {
          color: #FF5596;
          font-size: 23px;
          font-style: normal;
          font-weight: 700;
          line-height: 90%;

          @media(max-width:600px) {
            font-size: 12px;
          }
        }
      }
    }
  }
}

.bottom-cats__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  @media(max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }

  & .bottom-cats__item {
    height: 270px;
    position: relative;
    padding: 15px;
    cursor: pointer;

    @media(max-width: 768px) {
      height: 139px;
    }


    & .bottom-cats__item-image {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;

      & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    & .bottom-cats__item-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      z-index: 2;
      height: 100%;

      & .bottom-cats__item-info__title {
        color: #FF5596;
        font-size: 45px;
        font-style: normal;
        font-weight: 700;
        line-height: 90%;
        /* 28.8px */
        text-transform: uppercase;

        @media(max-width: 600px) {
          font-size: 32px;
        }

        & span {
          color: #FFF;
          font-size: 30px;
          font-style: normal;
          font-weight: 700;
          line-height: 90%;
          /* 18px */
          text-transform: uppercase;

          @media(max-width: 600px) {
            font-size: 20px;
          }
        }
      }

      & .bottom-cats__item-info__link {
        display: flex;
        align-items: center;
        gap: 3px;

        & span {
          color: #FFF;
          font-size: 22px;
          font-style: normal;
          font-weight: 400;
          line-height: 90%;
          text-decoration: underline;

          @media(max-width: 600px) {
            font-size: 12px;
          }
        }
      }
    }

    &:first-child {
      background-color: #FF5596;

      & .bottom-cats__item-info__title {
        color: #fff;
        display: flex;
        flex-direction: column;
        gap: 2px;

        & span {
          max-width: 50%;
        }
      }
    }

    &:last-child {
      background-color: #FFB8D3;

      & .bottom-cats__item-info__title {
        /* color: #fff; */
        display: flex;
        flex-direction: column;
        gap: 2px;

        & span {
          max-width: 50%;
        }
      }
    }
  }
}

.custom-checkbox {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
  justify-content: center;

  & input[type=checkbox] {
    position: relative;
    border: 1px solid #9D9D9D;
    border-radius: 2px;
    background: none;
    cursor: pointer;
    line-height: 0;
    margin: 0 .6em 0 0;
    outline: 0;
    padding: 0 !important;
    vertical-align: text-top;
    height: 13px;
    width: 13px;
    min-width: 13px;
    -webkit-appearance: none;
    border-radius: 0px;
    background: #F4F4F4;
  }


  & input[type=checkbox]:before {
    content: '';
    position: absolute;
    right: 50%;
    top: 50%;
    width: 2px;
    height: 7px;
    border: solid #9D9D9D;
    border-width: 0 2px 2px 0;
    margin: -1px -1px 0 -1px;
    transform: rotate(45deg) translate(-50%, -50%);
    z-index: 2;
    opacity: 0;
  }

  & input[type=checkbox]:checked {
    opacity: 1;

    &::before {
      opacity: 1;
    }
  }

  & label {
    color: #989898;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
    /* 7.2px */
    cursor: pointer;

    @media(max-width: 600px) {
      font-size: 8px;
    }

    & a {
      color: #989898;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 90%;
      text-decoration: underline;

      /* 7.2px */
      @media(max-width: 600px) {
        font-size: 8px;
      }
    }
  }
}

.subscribe-form {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  & .subscribe-form__title {
    color: #FF5596;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
    /* 12.6px */
    text-transform: uppercase;
    margin-bottom: 20px;

    @media(max-width: 600px) {
      font-size: 14px;
    }
  }

  & form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    & .input-wrap_subcscribe {
      & input {
        color: #000;
        text-align: center;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 90%;
        border-radius: 1px;
        border: 1px solid #FF5596;
        display: block;
        width: 100%;
        height: 100%;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 15px;

        &::placeholder {
          color: #FF5596;
          text-align: center;
          font-size: 25px;
          font-style: normal;
          font-weight: 700;
          line-height: 90%;
          /* 12.6px */

          @media(max-width: 600px) {
            font-size: 14px;
          }
        }

        @media(max-width: 600px) {
          height: 27px;
          font-size: 14px;
        }
      }



    }

    & .submit-subscribe {
      cursor: pointer;
      display: flex;
      width: 100%;
      padding-top: 7px;
      padding-bottom: 7px;
      color: #FFF;
      text-align: center;
      font-size: 25px;
      font-style: normal;
      font-weight: 700;
      line-height: 90%;
      /* 12.6px */
      text-transform: uppercase;
      border-radius: 1px;
      border: 1px solid #FF5596;
      background: #FF5596;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      margin-bottom: 11px;

      @media(max-width: 600px) {
        font-size: 14px;
      }
    }

    @media(max-width: 600px) {
      gap: 11px;

    }
  }
}

footer {
  background-color: #000000;
  padding-top: 30px;
  padding-bottom: 15px;
  margin-top: 80px;

  @media(max-width: 600px) {
    font-size: 35px;
  }

  & .footer-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;

    & .footer-address {
      color: #FF5596;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: 90%;
      max-width: 300px;

      /* 10.8px */
      @media(max-width: 600px) {
        font-size: 12px;
        max-width: 137px;
      }
    }

    & .footer-logo {
      width: 80px;

      @media(max-width: 600px) {
        width: 50px;
      }

      & img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }

    @media(max-width: 600px) {
      margin-bottom: 22px;
    }
  }

  & .footer-items {
    display: flex;
    justify-content: space-between;

    & .footer-item {
      & .footer-social {
        & .footer-social__title {
          color: #FFF;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 90%;

          /* 7.2px */
          @media(max-width: 600px) {
            font-size: 8px;
          }
        }

        & .footer-social__items {
          display: flex;
          align-items: center;


          @media(max-width: 600px) {
            gap: 5px;
            margin-top: 5px;
          }

          & a {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: -7px;

            @media(max-width: 600px) {
              width: 22px;
              height: 22px;
              margin-left: 0;
            }

            & img {
              object-fit: contain;
              width: 100%;
              height: 100%;
            }
          }
        }

        & .footer-social_nickname {
          color: #FFF;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 90%;
          /* 7.2px */
          margin-top: 5px;

          @media(max-width: 600px) {
            font-size: 8px;
          }
        }
      }

      & .footer-contacts {
        margin-top: 18px;


        & .footer-contacts__links {
          display: flex;
          flex-direction: column;

          & a {
            color: #FFF;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 124%;

            @media(max-width: 600px) {
              font-size: 12px;
            }

            &:first-child {
              text-decoration: underline;
            }

            &:last-child {
              margin-top: 20px;
            }
          }
        }
      }

      & .footer-menu {
        display: flex;
        flex-direction: column;
        gap: 6px;

        & li {
          & a {
            color: #FFF;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 90%;
            display: block;
            width: 100%;

            @media(max-width: 600px) {
              font-size: 12px;
            }
          }
        }
      }

      &:nth-child(2) {
        order: 3;
      }
    }

    @media(max-width: 600px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  & .footer-bottom {

    margin-top: 35px;

    & .footer-bottom__links {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & a {
        color: #989898;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 90%;

        @media(max-width: 600px) {
          font-size: 12px;
        }

        /* 10.8px */
      }

      @media(max-width: 600px) {
        order: 4;
        flex-direction: column;
        align-items: flex-start;
      }
    }

    @media(max-width: 600px) {
      order: 4;
      margin-top: 14px;
    }
  }

  & .footer-copy {
    color: #989898;
    margin-top: 25px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
    text-align: center;

    @media(max-width: 600px) {
      font-size: 8px;
    }

    /* 7.2px */
  }

  @media(max-width: 600px) {
    margin-top: 38px;

  }
}


.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 13px;

  & a {
    position: relative;
    color: #A9A9A9;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
    text-transform: uppercase;

    &::after {
      content: '/';
      position: absolute;
      right: -11px;
      top: 0;
      color: #A9A9A9;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 90%;
      text-transform: uppercase;

      @media(max-width: 600px) {
        font-size: 14px;
      }
    }

    &:last-child {
      pointer-events: none;

      &::after {
        display: none;
      }
    }

    @media(max-width: 600px) {
      font-size: 14px;
    }
  }
}

.categories-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  margin-top: 20px;
  margin-bottom: 20px;



  & a {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%;
    text-transform: uppercase;

    @media(max-width: 600px) {
      font-size: 14px;
    }
  }

  & a.active {
    text-decoration: underline;
  }

  @media(max-width: 600px) {
    gap: 7px;
  }
}

.f-and-s {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filters-modal__trigger {
  display: flex;
  align-items: center;
  gap: 5px;

  & svg {
    width: 15px;
    height: 15px;

    @media(max-width: 600px) {
      width: 9px;
      height: 9px;
    }
  }

  & span {
    color: #FF5596;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%;
    /* 12.6px */
    text-transform: uppercase;

    @media(max-width: 600px) {
      font-size: 14px;
    }
  }
}

.catalog-search {
  position: relative;
  border-radius: 2px;
  border: 1px solid #989898;
  padding: 4px 6px;
  display: flex;

  & input {
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
    text-transform: uppercase;
    padding-left: 20px;

    @media(max-width: 600px) {
      font-size: 12px;
      padding-left: 10px;
    }

    &::placeholder {
      color: #989898;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: 90%;
      text-transform: uppercase;

      @media(max-width: 600px) {
        font-size: 12px;
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3px;
    width: 16px;
    height: 16px;
    background-image: url(../../assets/img/s-ico.svg);
    background-repeat: no-repeat;
    background-size: contain;

    @media(max-width: 600px) {
      width: 8px;
      height: 8px;
    }
  }
}

.pagination {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  & a {
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;

    @media(max-width: 600px) {
      font-size: 12px;
    }

    /* 10.8px */
  }

  & a.current {
    color: #FF5596;
    text-decoration: underline;
  }

  & a.pagination-arrow__right {
    display: flex;
    align-items: center;
  }

  & a.pagination-arrow__left {
    display: flex;
    align-items: center;
    transform: rotate(180deg);
  }
}

.modal {
  position: fixed;
  left: 0;
  top: -130%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s;
  opacity: 0;
  z-index: -1;
  overflow: auto;
  padding-top: 25%;
  padding-bottom: 5%;

  & .modal-inner {
    border-radius: 5px;
    background: #FFF;
    padding: 25px;
    min-height: 150px;
    position: relative;
    max-width: 400px;
    width: 100%;
    padding-top: 50px;

    & .modal-close {
      position: absolute;
      right: 10px;
      top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      z-index: 3;
    }
  }
}

.modal.active {
  transition: all .3s;
  top: 0;
  opacity: 1;
  z-index: 12;
}

.filters-form {
  max-height: 0;
  overflow: hidden;
  transition: all .3s;

  & .filters-form__items {
    display: flex;
    flex-direction: column;
    gap: 5px;

    & .filters-form__item {
      padding-bottom: 5px;
      border-bottom: 1px solid #000;

      & .filters-form__title {
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 90%;
        /* 12.6px */
        /* padding-bottom: 7px; */
        border-bottom: 1px solid transparent;
        cursor: pointer;

        @media(max-width: 600px) {
          font-size: 14px;
        }
      }

      & .filters-form__content {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: all .3s;

        & .filters-form-content__list {
          display: flex;
          flex-direction: column;
          gap: 5px;

          & a {
            color: #000;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 90%;
            /* 12.6px */

            @media(max-width: 600px) {
              font-size: 14px;
            }
          }
        }

        & .filter-price__range {
          display: flex;
          align-items: center;
          gap: 7px;



          & input {
            border-radius: 5px;
            border: 1px solid #FF5596;
            background: #FFF;
            width: 87px;
            height: 24px;
            color: #000;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 90%;
            padding-left: 8px;

            &::placeholder {
              color: #000;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 90%;
            }

          }

          & input.submit {
            color: #FFF;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 90%;
            text-transform: uppercase;
            border-radius: 5px;
            border: 1px solid #FF5596;
            background: #FF5596;
            padding: 6px;
            width: initial;
            cursor: pointer;
          }
        }

        .custom-checkbox__pink {
          cursor: pointer;
          display: flex;
          align-items: center;

          & label {
            color: #000;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 90%;
            cursor: pointer;
            /* 12.6px */
            text-transform: uppercase;

            @media(max-width: 600px) {
              font-size: 14px;
            }
          }

          & input[type=checkbox] {
            position: relative;
            border-radius: 5px;
            border: 1px solid #FF5596;
            border-radius: 2px;
            background: none;
            cursor: pointer;
            line-height: 0;
            margin: 0 .6em 0 0;
            outline: 0;
            padding: 0 !important;
            vertical-align: text-top;
            height: 20px;
            width: 20px;
            -webkit-appearance: none;
            opacity: 1;
          }

          & input[type=checkbox]:checked {
            background-color: #fff;
            opacity: 1;
          }

          & input[type=checkbox]:checked:before {
            content: '';
            position: absolute;
            right: 50%;
            top: 50%;
            width: 4px;
            height: 10px;
            border: solid #FF5596;
            border-width: 0 2px 2px 0;
            margin: -1px -1px 0 -1px;
            transform: rotate(45deg) translate(-50%, -50%);
            z-index: 2;
          }
        }


      }

      & .filters-form__title.active {
        border-bottom: 1px solid #000;
        padding-bottom: 7px;
      }

      & .filters-form__title.active+.filters-form__content {
        max-height: 123px;
        overflow: auto;
        opacity: 1;
        transition: all .3s;
        padding-top: 7px;

        /* Chrome, Safari, Edge */
        &::-webkit-scrollbar {
          width: 2px;
          /* вертикальный скроллбар */
          height: 2px;
          /* горизонтальный скроллбар */
          background-color: #FF5596;
          /* цвет дорожки */
        }

        &::-webkit-scrollbar-track {
          background-color: #FF5596;
          /* дорожка (фон под ползунком) */
        }

        &::-webkit-scrollbar-thumb {
          background-color: #000;
          /* цвет ползунка */
          border-radius: 2px;
          min-height: 4px;
          min-width: 4px;
          max-height: 4px;
          max-width: 4px;
        }
      }
    }
  }
}

.filters-form.active {
  max-height: 400px;
  overflow: visible;
  transition: all .3s;
}




@font-face {
  font-family: 'Bebas Neue Pro Middle';
  src: url('../fonts/BebasNeuePro-MiddleItalic.eot');
  src: local('Bebas Neue Pro Middle Italic'), local('BebasNeuePro-MiddleItalic'),
    url('../fonts/BebasNeuePro-MiddleItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeuePro-MiddleItalic.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-MiddleItalic.woff') format('woff'),
    url('../fonts/BebasNeuePro-MiddleItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Bebas Neue Pro';
  src: url('../fonts/BebasNeuePro-BoldItalic.eot');
  src: local('Bebas Neue Pro Bold Italic'), local('BebasNeuePro-BoldItalic'),
    url('../fonts/BebasNeuePro-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeuePro-BoldItalic.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-BoldItalic.woff') format('woff'),
    url('../fonts/BebasNeuePro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Bebas Neue Pro Expanded';
  src: url('../fonts/BebasNeuePro-ExpandedRegular.eot');
  src: local('Bebas Neue Pro Expanded Regular'), local('BebasNeuePro-ExpandedRegular'),
    url('../fonts/BebasNeuePro-ExpandedRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeuePro-ExpandedRegular.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-ExpandedRegular.woff') format('woff'),
    url('../fonts/BebasNeuePro-ExpandedRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Pro Expanded';
  src: url('../fonts/BebasNeuePro-ExpandedMediumIt.eot');
  src: local('Bebas Neue Pro Expanded Medium Italic'), local('BebasNeuePro-ExpandedMediumIt'),
    url('../fonts/BebasNeuePro-ExpandedMediumIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeuePro-ExpandedMediumIt.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-ExpandedMediumIt.woff') format('woff'),
    url('../fonts/BebasNeuePro-ExpandedMediumIt.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Bebas Neue Pro Expanded';
  src: url('../fonts/BebasNeuePro-ExpandedItalic.eot');
  src: local('Bebas Neue Pro Expanded Italic'), local('BebasNeuePro-ExpandedItalic'),
    url('../fonts/BebasNeuePro-ExpandedItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeuePro-ExpandedItalic.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-ExpandedItalic.woff') format('woff'),
    url('../fonts/BebasNeuePro-ExpandedItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Bebas Neue Pro Expanded Book';
  src: url('../fonts/BebasNeuePro-ExpandedBook.eot');
  src: local('Bebas Neue Pro Expanded Book'), local('BebasNeuePro-ExpandedBook'),
    url('../fonts/BebasNeuePro-ExpandedBook.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeuePro-ExpandedBook.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-ExpandedBook.woff') format('woff'),
    url('../fonts/BebasNeuePro-ExpandedBook.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Pro SemiExp';
  src: url('../fonts/BebasNeuePro-SemiExpThinItalic.eot');
  src: local('Bebas Neue Pro SemiExpanded Thin Italic'), local('BebasNeuePro-SemiExpThinItalic'),
    url('../fonts/BebasNeuePro-SemiExpThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeuePro-SemiExpThinItalic.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-SemiExpThinItalic.woff') format('woff'),
    url('../fonts/BebasNeuePro-SemiExpThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Bebas Neue Pro Expanded';
  src: url('../fonts/BebasNeuePro-ExpandedThinItalic.eot');
  src: local('Bebas Neue Pro Expanded Thin Italic'), local('BebasNeuePro-ExpandedThinItalic'),
    url('../fonts/BebasNeuePro-ExpandedThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeuePro-ExpandedThinItalic.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-ExpandedThinItalic.woff') format('woff'),
    url('../fonts/BebasNeuePro-ExpandedThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Bebas Neue Pro Expanded Book';
  src: url('../fonts/BebasNeuePro-ExpandedBookItalic.eot');
  src: local('Bebas Neue Pro Expanded Book Italic'), local('BebasNeuePro-ExpandedBookItalic'),
    url('../fonts/BebasNeuePro-ExpandedBookItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeuePro-ExpandedBookItalic.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-ExpandedBookItalic.woff') format('woff'),
    url('../fonts/BebasNeuePro-ExpandedBookItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Bebas Neue Pro SemiExp';
  src: url('../fonts/BebasNeuePro-SemiExpandedThin.eot');
  src: local('Bebas Neue Pro SemiExpanded Thin'), local('BebasNeuePro-SemiExpandedThin'),
    url('../fonts/BebasNeuePro-SemiExpandedThin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeuePro-SemiExpandedThin.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-SemiExpandedThin.woff') format('woff'),
    url('../fonts/BebasNeuePro-SemiExpandedThin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Pro Expanded';
  src: url('../fonts/BebasNeuePro-ExpandedMedium.eot');
  src: local('Bebas Neue Pro Expanded Medium'), local('BebasNeuePro-ExpandedMedium'),
    url('../fonts/BebasNeuePro-ExpandedMedium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeuePro-ExpandedMedium.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-ExpandedMedium.woff') format('woff'),
    url('../fonts/BebasNeuePro-ExpandedMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Pro SemiExp Book';
  src: url('../fonts/BebasNeuePro-SemiExpBook.eot');
  src: local('Bebas Neue Pro SemiExpanded Book'), local('BebasNeuePro-SemiExpBook'),
    url('../fonts/BebasNeuePro-SemiExpBook.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeuePro-SemiExpBook.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-SemiExpBook.woff') format('woff'),
    url('../fonts/BebasNeuePro-SemiExpBook.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Pro SemiExp';
  src: url('../fonts/BebasNeuePro-SemiExpLightItalic.eot');
  src: local('Bebas Neue Pro SemiExpanded Light Italic'), local('BebasNeuePro-SemiExpLightItalic'),
    url('../fonts/BebasNeuePro-SemiExpLightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeuePro-SemiExpLightItalic.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-SemiExpLightItalic.woff') format('woff'),
    url('../fonts/BebasNeuePro-SemiExpLightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Bebas Neue Pro SemiExp';
  src: url('../fonts/BebasNeuePro-SemiExpRegular.eot');
  src: local('Bebas Neue Pro SemiExpanded Regular'), local('BebasNeuePro-SemiExpRegular'),
    url('../fonts/BebasNeuePro-SemiExpRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeuePro-SemiExpRegular.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-SemiExpRegular.woff') format('woff'),
    url('../fonts/BebasNeuePro-SemiExpRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Pro';
  src: url('../fonts/BebasNeuePro-Light.eot');
  src: local('Bebas Neue Pro Light'), local('BebasNeuePro-Light'),
    url('../fonts/BebasNeuePro-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeuePro-Light.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-Light.woff') format('woff'),
    url('../fonts/BebasNeuePro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Pro Expanded';
  src: url('../fonts/BebasNeuePro-ExpandedBoldItalic.eot');
  src: local('Bebas Neue Pro Expanded Bold Italic'), local('BebasNeuePro-ExpandedBoldItalic'),
    url('../fonts/BebasNeuePro-ExpandedBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeuePro-ExpandedBoldItalic.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-ExpandedBoldItalic.woff') format('woff'),
    url('../fonts/BebasNeuePro-ExpandedBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Bebas Neue Pro';
  src: url('../fonts/BebasNeuePro-LightItalic.eot');
  src: local('Bebas Neue Pro Light Italic'), local('BebasNeuePro-LightItalic'),
    url('../fonts/BebasNeuePro-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeuePro-LightItalic.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-LightItalic.woff') format('woff'),
    url('../fonts/BebasNeuePro-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Bebas Neue Pro';
  src: url('../fonts/BebasNeuePro-Thin.eot');
  src: local('Bebas Neue Pro Thin'), local('BebasNeuePro-Thin'),
    url('../fonts/BebasNeuePro-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeuePro-Thin.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-Thin.woff') format('woff'),
    url('../fonts/BebasNeuePro-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Pro Expanded XBold';
  src: url('../fonts/BebasNeueProExpandedExtraBoldIt.eot');
  src: local('Bebas Neue Pro Expanded ExtraBold Italic'), local('BebasNeueProExpandedExtraBoldIt'),
    url('../fonts/BebasNeueProExpandedExtraBoldIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeueProExpandedExtraBoldIt.woff2') format('woff2'),
    url('../fonts/BebasNeueProExpandedExtraBoldIt.woff') format('woff'),
    url('../fonts/BebasNeueProExpandedExtraBoldIt.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Bebas Neue Pro Expanded';
  src: url('../fonts/BebasNeuePro-ExpandedBold.eot');
  src: local('Bebas Neue Pro Expanded Bold'), local('BebasNeuePro-ExpandedBold'),
    url('../fonts/BebasNeuePro-ExpandedBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeuePro-ExpandedBold.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-ExpandedBold.woff') format('woff'),
    url('../fonts/BebasNeuePro-ExpandedBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Pro SemiExp Book';
  src: url('../fonts/BebasNeuePro-SemiExpBookItalic.eot');
  src: local('Bebas Neue Pro SemiExpanded Book Italic'), local('BebasNeuePro-SemiExpBookItalic'),
    url('../fonts/BebasNeuePro-SemiExpBookItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeuePro-SemiExpBookItalic.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-SemiExpBookItalic.woff') format('woff'),
    url('../fonts/BebasNeuePro-SemiExpBookItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Bebas Neue Pro';
  src: url('../fonts/BebasNeuePro-ThinItalic.eot');
  src: local('Bebas Neue Pro Thin Italic'), local('BebasNeuePro-ThinItalic'),
    url('../fonts/BebasNeuePro-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeuePro-ThinItalic.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-ThinItalic.woff') format('woff'),
    url('../fonts/BebasNeuePro-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Bebas Neue Pro Book';
  src: url('../fonts/BebasNeuePro-Book.eot');
  src: local('Bebas Neue Pro Book'), local('BebasNeuePro-Book'),
    url('../fonts/BebasNeuePro-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeuePro-Book.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-Book.woff') format('woff'),
    url('../fonts/BebasNeuePro-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Pro Book';
  src: url('../fonts/BebasNeuePro-BookItalic.eot');
  src: local('Bebas Neue Pro Book Italic'), local('BebasNeuePro-BookItalic'),
    url('../fonts/BebasNeuePro-BookItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeuePro-BookItalic.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-BookItalic.woff') format('woff'),
    url('../fonts/BebasNeuePro-BookItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Bebas Neue Pro SemiExp';
  src: url('../fonts/BebasNeuePro-SemiExpItalic.eot');
  src: local('Bebas Neue Pro SemiExpanded Italic'), local('BebasNeuePro-SemiExpItalic'),
    url('../fonts/BebasNeuePro-SemiExpItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeuePro-SemiExpItalic.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-SemiExpItalic.woff') format('woff'),
    url('../fonts/BebasNeuePro-SemiExpItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Bebas Neue Pro Expanded';
  src: url('../fonts/BebasNeuePro-ExpandedLight.eot');
  src: local('Bebas Neue Pro Expanded Light'), local('BebasNeuePro-ExpandedLight'),
    url('../fonts/BebasNeuePro-ExpandedLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeuePro-ExpandedLight.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-ExpandedLight.woff') format('woff'),
    url('../fonts/BebasNeuePro-ExpandedLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Pro Expanded';
  src: url('../fonts/BebasNeuePro-ExpandedThin.eot');
  src: local('Bebas Neue Pro Expanded Thin'), local('BebasNeuePro-ExpandedThin'),
    url('../fonts/BebasNeuePro-ExpandedThin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeuePro-ExpandedThin.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-ExpandedThin.woff') format('woff'),
    url('../fonts/BebasNeuePro-ExpandedThin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Pro SemiExp XBold';
  src: url('../fonts/BebasNeuePro-SemiExpXBold.eot');
  src: local('Bebas Neue Pro SemiExpanded ExtraBold'), local('BebasNeuePro-SemiExpXBold'),
    url('../fonts/BebasNeuePro-SemiExpXBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeuePro-SemiExpXBold.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-SemiExpXBold.woff') format('woff'),
    url('../fonts/BebasNeuePro-SemiExpXBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Pro Middle';
  src: url('../fonts/BebasNeuePro-Middle.eot');
  src: local('Bebas Neue Pro Middle'), local('BebasNeuePro-Middle'),
    url('../fonts/BebasNeuePro-Middle.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeuePro-Middle.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-Middle.woff') format('woff'),
    url('../fonts/BebasNeuePro-Middle.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Pro';
  src: url('../fonts/BebasNeuePro-Bold.eot');
  src: local('Bebas Neue Pro Bold'), local('BebasNeuePro-Bold'),
    url('../fonts/BebasNeuePro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeuePro-Bold.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-Bold.woff') format('woff'),
    url('../fonts/BebasNeuePro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Pro SemiExp';
  src: url('../fonts/BebasNeuePro-SemiExpBold.eot');
  src: local('Bebas Neue Pro SemiExpanded Bold'), local('BebasNeuePro-SemiExpBold'),
    url('../fonts/BebasNeuePro-SemiExpBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeuePro-SemiExpBold.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-SemiExpBold.woff') format('woff'),
    url('../fonts/BebasNeuePro-SemiExpBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Pro';
  src: url('../fonts/BebasNeuePro-Italic.eot');
  src: local('Bebas Neue Pro Italic'), local('BebasNeuePro-Italic'),
    url('../fonts/BebasNeuePro-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeuePro-Italic.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-Italic.woff') format('woff'),
    url('../fonts/BebasNeuePro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Bebas Neue Pro Expanded XBold';
  src: url('../fonts/BebasNeuePro-ExpandedExtraBold.eot');
  src: local('Bebas Neue Pro Expanded ExtraBold'), local('BebasNeuePro-ExpandedExtraBold'),
    url('../fonts/BebasNeuePro-ExpandedExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeuePro-ExpandedExtraBold.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-ExpandedExtraBold.woff') format('woff'),
    url('../fonts/BebasNeuePro-ExpandedExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Pro SemiExp';
  src: url('../fonts/BebasNeuePro-SemiExpLight.eot');
  src: local('Bebas Neue Pro SemiExpanded Light'), local('BebasNeuePro-SemiExpLight'),
    url('../fonts/BebasNeuePro-SemiExpLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeuePro-SemiExpLight.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-SemiExpLight.woff') format('woff'),
    url('../fonts/BebasNeuePro-SemiExpLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Pro';
  src: url('../fonts/BebasNeuePro-Regular.eot');
  src: local('Bebas Neue Pro Regular'), local('BebasNeuePro-Regular'),
    url('../fonts/BebasNeuePro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeuePro-Regular.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-Regular.woff') format('woff'),
    url('../fonts/BebasNeuePro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Pro SemiExp Middle';
  src: url('../fonts/BebasNeuePro-SemiExpMiddle.eot');
  src: local('Bebas Neue Pro SemiExpanded Middle'), local('BebasNeuePro-SemiExpMiddle'),
    url('../fonts/BebasNeuePro-SemiExpMiddle.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeuePro-SemiExpMiddle.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-SemiExpMiddle.woff') format('woff'),
    url('../fonts/BebasNeuePro-SemiExpMiddle.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Pro SemiExp XBold';
  src: url('../fonts/BebasNeuePro-SemiExpXBoldItalic.eot');
  src: local('Bebas Neue Pro SemiExpanded ExtraBold Italic'), local('BebasNeuePro-SemiExpXBoldItalic'),
    url('../fonts/BebasNeuePro-SemiExpXBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeuePro-SemiExpXBoldItalic.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-SemiExpXBoldItalic.woff') format('woff'),
    url('../fonts/BebasNeuePro-SemiExpXBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Bebas Neue Pro Expanded';
  src: url('../fonts/BebasNeuePro-ExpandedLightIt.eot');
  src: local('Bebas Neue Pro Expanded Light Italic'), local('BebasNeuePro-ExpandedLightIt'),
    url('../fonts/BebasNeuePro-ExpandedLightIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeuePro-ExpandedLightIt.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-ExpandedLightIt.woff') format('woff'),
    url('../fonts/BebasNeuePro-ExpandedLightIt.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Bebas Neue Pro SemiExp Middle';
  src: url('../fonts/BebasNeuePro-SemiExpMiddleIt.eot');
  src: local('Bebas Neue Pro SemiExpanded Middle Italic'), local('BebasNeuePro-SemiExpMiddleIt'),
    url('../fonts/BebasNeuePro-SemiExpMiddleIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeuePro-SemiExpMiddleIt.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-SemiExpMiddleIt.woff') format('woff'),
    url('../fonts/BebasNeuePro-SemiExpMiddleIt.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Bebas Neue Pro SemiExp';
  src: url('../fonts/BebasNeuePro-SemiExpBoldItalic.eot');
  src: local('Bebas Neue Pro SemiExpanded Bold Italic'), local('BebasNeuePro-SemiExpBoldItalic'),
    url('../fonts/BebasNeuePro-SemiExpBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeuePro-SemiExpBoldItalic.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-SemiExpBoldItalic.woff') format('woff'),
    url('../fonts/BebasNeuePro-SemiExpBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}